.body{ background-color:  #191059;}

.bordeRegistro
{
color: #333; 
 background-color: #075059;
 width:20%;
 margin-top: 18%;
 padding-top: 3%;
 margin-left: 20%;
 margin-bottom: 3%;
 padding-bottom: 7%;
 border: solid;
}
#botonesDDerecha
{
	margin-top: 70%;
	margin-left: 15%;
}
#botonesDDerecha2
{
	margin-top: 1%;
	margin-left: 15%;
}
.borde
{
	margin-left: 111%;
    margin-top: -29%;
}
.comotal
{
	margin-left: -22%;
    margin-right: 50%;
}
.bordesBandeja
{
	    margin-left: -9%;
    margin-top: -11%;
}
.darlevida
{
 color: #333; 
 background-color: #075059;
    padding-top: -9%;
    margin-left: 55%;
    margin-bottom: -3%;
    padding-bottom: 1%;
 float: left;
}
.darlevida2
{
 color: #333; 
 background-color: #075059;
    padding-top: -9%;
    margin-left: 55%;
    margin-right: 12%;
    padding-top: 6%;
    margin-bottom: 2%;
    padding-bottom: 1%;
}
.titulo
{
color: white; 
}
.rescate
{
	margin-left: -111%;
    margin-right: 18%
}