.body{ background-color:  #191059;}

.bordeRegistro
{
color: #333; 
 background-color: #075059;
 width:20%;
 margin-top: 18%;
 padding-top: 3%;
 margin-left: 20%;
 margin-bottom: 3%;
 padding-bottom: 7%;
 border: solid;
}
#botonesDDerecha
{
	margin-top: 70%;
}
#botonesDDerecha2
{
	margin-top: 1%;
}
.borde
{
	
}
.comotal
{
	margin-left: -22%;
}
