body{
	background-color: #221;
}
#button li a {
font-family: Arial;
font-size:11px;
text-decoration: none;
float:left;
padding: 10px;
color: #fff;
margin-right: 1px;
width: 10%;
}
#button li
{
	display: inline;
}
#button li
{
	width: 90%;
	height: 25%;
}
#button li
{
	padding: 0;
}
#button li a:hover
{
	background-color: #2586d7;
	margin-top: 2px;
	padding-bottom: 12px;
}
.loggin
{	
    width: 260px;
    padding: 20px 20px;
    margin: 0 auto 20px;
}
.h3
{
	color=red;	
}
